body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  margin: auto;
  width: 98vw;
  padding-bottom: 300px;
}

#infoCardi {
  width: 1140px;
  margin: auto;
  padding: 9px;
  background-color: #D9EDF7;
  border: 2px solid #BCE8F1;
}

#infoCardi p {
  color: #317093;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#infoForm {
  width: 1140px;
  margin: auto;
  display: flex;
  height: 53px;
  align-items: center;
  margin-top: 20px;
  background-color: #F5F5F5;
  border: 2px solid #E3E3E3;

}

#infoForm p {
  color: #333333;
  font-size: 14px;
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 9px;
  padding-right: 4px;
}

#infoForm .inputFormText {
  width: 200px;
  height: 29px;
  padding-left: 9px;
  font-size: 14px;
  border: 0;
  border: 2px solid #E3E3E3;
  border-left-color: #46b8da;
}

#infoForm input[type='button'] {
  width: 68px;
  height: 33px;
  background-color: #5AC1DB;
  padding: 6px 12px;
  color: white;
  border: none;
  margin-left: 9px;
}

#infoForm input[type='button'] {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#cardi {
  display: flex;
  width: 1140px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 150px;
}

#cardi #cardiLogo {
  width: 738px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#cardi #cardiLogo p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #3C763D;
  padding: 0;
  margin-top: 5px;
}

#cardi #cardiLogo img {
  width: 56px;
}

#cardInfo {
  border: 2px solid #E3E3E3;
  padding: 9px;
}

#cardInfo p {
  font-size: 14px;
  font-family: Arial;
  font-weight: normal;
  line-height: 16px;
  margin: 5px;
}

#cardInfo span {
  color: #333333;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@media(min-width: 320px) {
  #infoCardi {
    width: 280px;
    overflow: hidden;
  }
  
  #infoForm {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 115px;
    width: 280px;
  }
  
  #infoForm .inputFormText {
    margin-left: 10px;
    margin-top: -15px;
    width: 280px;
  }
  
  #cardi {
    overflow: hidden;
    width: 280px;
  }
}

@media(min-width: 375px) {
  #infoCardi {
    width: 340px;
    overflow: hidden;
  }
  
  #infoForm {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 115px;
    width: 340px;
  }
  
  #infoForm .inputFormText {
    margin-left: 10px;
    margin-top: -15px;
    width: 340px;
  }
  
  #cardi {
    overflow: hidden;
    width: 340px;
  }
}

@media(min-width: 425px) {
  #infoCardi {
    width: 360px;
    overflow: hidden;
  }
  
  #infoForm {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 115px;
    width: 360px;
  }
  
  #infoForm .inputFormText {
    margin-left: 10px;
    margin-top: -15px;
    width: 360px;
  }
  
  #cardi {
    overflow: hidden;
    width: 360px;
  }
}

@media(min-width: 770px) {
  #infoCardi {
    width: 690px;
  }

  #infoForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 115px;
    width: 690px;
  }

  #infoForm .inputFormText {
    margin-left: 10px;
    margin-top: -15px;
    width: 670px;
  }

  #cardi {
    width: 690px;
  }
}